.articleListControls {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  gap: 0.5rem;
}

.articleListControls a {
  border: 2px solid var(--border);
  background-color: var(--bg);
  color: var(--text);
  padding: 0.5rem;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-flex;
  width: 100px;
  flex-shrink: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.articleListControls a:hover {
  background-color: var(--clicked);
}

.articleListControls .activeArticleControl {
  font-weight: bold;
  background-color: var(--clicked);
}
