.article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.articleVotes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.articleVotes p {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  .articleContainer {
    grid-area: main;
    flex-direction: row;
  }
}
