.comments {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comments ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.clicked {
  color: var(--clicked-text);
  background-color: var(--clicked);
}

.theEnd {
  font-size: 1.6rem;
  text-align: center;
}
