.comments ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.showCommentsButton,
.showMoreButton {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--border);
  background-color: var(--bg);
  font-size: 1.2rem;
}

.clicked {
  background-color: var(--clicked);
}

.showCommentsButton:hover,
.showMoreButton:hover {
  background-color: var(--clicked);
}

.theEnd {
  font-size: 1.6rem;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .comments {
  }
}
