.commentContainer {
  padding: 0.5rem;
  list-style: none;
  border: 2px solid var(--border);
}

.deleted {
  text-align: center;
}
.commentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.commentHeader .deleteCommentButton {
  border: 2px solid var(--border);
  background-color: var(--bg);
  font-size: 1rem;
  padding: 0.5rem;
}

.confirmDeleteButton {
  border: 2px solid var(--border);
  background-color: var(--clicked);
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
}

.author {
  font-weight: bold;
}
