.showPostCommentFormButton {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--border);
  background-color: var(--bg);
  font-size: 1.2rem;
  transition: all 0.2s;
}

.clicked {
  background-color: var(--clicked);
}
