.topicList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.topicList h2 {
  display: none;
}

.topicsList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
  overflow: scroll;
}

.topicsList li {
  border: 2px solid var(--border);
  width: 100%;
  min-height: 1.2rem;
  padding: 0.5rem;
  text-align: center;
}

.topicsList a {
  color: var(--link-color);
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.loading {
  background: var(--loading-bg);
  opacity: 1;
  animation: fade 5s linear infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
}

@media screen and (min-width: 600px) {
  .topicList {
    flex-direction: column;
    padding: 0 0.5rem;
    margin-top: 0;
    gap: 0;
  }

  .topicList h2 {
    display: block;
  }

  .topicsList {
    flex-direction: column;
    overflow: visible;
    width: 100%;
  }
  .topicsList a {
    width: 100%;
  }
}
