.voteContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.voteButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.clicked {
  color: var(--clicked-text);
  background-color: var(--clicked);
}
