.voteContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.voteButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.voteButtonContainer button {
  border: 2px solid var(--border);
  background-color: var(--bg);
  color: var(--text);
  font-size: 1rem;
  transition: all 0.2s;
}

.voteContainer button:disabled {
  background-color: lightgray;
}

.voteContainer .clicked {
  background-color: var(--clicked);
}
