:root {
  --text: black;
  --bg: #fefcf6;
  --border: black;
  --loading-bg: #ffb6c1;
  --link-color: #d55d77;
  --clicked: lightpink;
}

[data-theme="dark"] {
  --text: white;
  --bg: black;
  --border: white;
  --loading-bg: ffb6c1;
  --link-color: #d55d77;
  --clicked: lightpink;
}

.App {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem 2rem;
  color: var(--text);
  background-color: var(--bg);
}

@media screen and (min-width: 600px) {
  #root {
    background-color: var(--bg);
  }
  .App {
    max-width: 960px;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "header settings "
      "main sidebar"
      "main footer";
  }
}
