:root {
  --text: black;
  --bg: #fefcf6;
  --border: black;
  --loading-bg: #ffb6c1;
  --link-color: #d55d77;
  --clicked: lightpink;
}

[data-theme="dark"] {
  --text: white;
  --bg: black;
  --border: white;
  --loading-bg: ffb6c1;
  --link-color: #d55d77;
  --clicked: lightpink;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
